.containerCss {
	display: flex;
	flex-flow: wrap column;
	padding: 0.25em;

	@container (width >= 400px) {
		flex-direction: row;
	}

	@container (width >= 760px) {
		align-items: center;
		flex-direction: column;
		justify-content: center;
		min-height: 350px;
		position: relative;
	}
}

.thumbCss {
	background-color: #e5e5e5;
	border-radius: 0.25rem;
	object-fit: cover;
	object-position: 50% 20%;
	height: 8em;
	width: 100%;

	@container (width >= 400px) {
		align-self: flex-start;
		max-height: none;
		margin-right: 1em;
		width: 8rem;
	}

	@container (width >= 760px) {
		bottom: 0;
		height: 100%;
		left: 0;
		margin-right: 0;
		max-height: none;
		opacity: 0.25;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
	}
}

.contentCss {
	flex: 1;

	@container (width >= 760px) {
		flex: unset;
		position: relative;
	}
}

.titleCss,
.summaryCss {
	margin-left: auto;
	margin-right: auto;
	max-width: 32rem;
}

.titleCss {
	font-weight: bold;
	font-size: 1.5rem;
	line-height: 1.25;
	margin-top: 0;
	margin-bottom: 0.5rem;
}

.summaryCss {
	color: #222;
}
